extends layout

block content
	.container
		form.form-signin
			h2.form-signin-heading Welcome to LineHero
			input.input-block-level(type="text",placeholder="Username")
			input.input-block-level(type="text",placeholder="Password")
			a.btn.input-block-level(href="/")
				i.icon-user
				span Sign in
			br
			a.btn.btn-primary.input-block-level(href="/home/rachael")
				i.icon-user
				span Sign in with Facebook
			br
			a.btn.btn-info.input-block-level(href="/home/nick")
				i.icon-user
				span Sign in with Twitter
